@layer reset, theme, layout;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    margin: 0;
  }
}

@layer theme {
  :root {
    --ratio: 16 / 4;
    --color: #FA5638;
    --text:  #2A1B18;
    --light: #F7F1ED;
    --shade: rgb(200, 72, 47);
    --font: italic "IBM Plex Mono", monospace;
    --ratio: 4/5;
    --unit: 12px;
  }   
}

@layer layout {
  body {
    background: var(--color);
    color: var(--text);
    font: italic 1.5rem "IBM Plex Mono", sans-serif;
    font-weight: 400;
    line-height: 170%;
  }

  section {
    aspect-ratio: var(--ratio);
    border: 4px solid var(--text);
    border-radius: 24px;
    position: relative;
  }
  
  p { 
    margin: 0;
  }
  
  a:link, a:visited {
    color: var(--text);
    text-decoration: underline;
    transition: 0.3s ease-out;
  }
  
  a:hover, a:active {
    text-decoration: none;
    background-color: var(--color);
    border-radius: 4px;
    padding: 0 4px;
    margin: 0 -4px;
  }
  
  .hoverable a:link, .hoverable a:visited {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
  }
  
  .hoverable a:hover, .hoverable a:active {
    background-color: transparent;
  }
  
  button {
    margin-top: 24px;
    border: none;
    background-color: var(--shade);
    color: var(--text);
    border-radius: 12px;
    padding: 2px 18px;
    font: var(--font);
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    left: 12px;
    right: 12px;
    bottom: 12px;
    transition: 0.3s ease-out;
  }
  button:hover {
    background-color: var(--text);
    color: var(--color)
    
  }
  
  .wrapper /* MWEB */ {
    display:grid;
    grid-gap: calc(var(--unit) * 2);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: calc(var(--unit) * 2);
  }
  section.intro { 
    grid-column: 1 / 1;
    --ratio: none;
    position: relative;
  }
  .intro .content p {
    max-width: 50ch !important;
    margin: 0;
    
  }
  
  @media (min-width: 768px) /* TABLET */{
    .wrapper {
      display:grid;
      grid-gap: calc(var(--unit) * 4);
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: calc(var(--unit) * 4);
    }
    section.intro {
      grid-column: 1 / 3;
    }
  }
  
  @media (min-width: 1024px) /* DESKTOP */ {
    .wrapper {
      max-width: 1100px;
    }
    button { position: absolute; left: auto; }
  }
  
  .flex {
    display:flex;
    grid-gap: calc(var(--unit) * 4);
    flex-wrap: wrap;
  }
  
  .hoverable {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 0 0 rgba(42, 27, 24, 0.3);
  }
  
  .hoverable:hover {
    transform: scale(103%) ;
    box-shadow: 0 7px 6px 6px rgba(42, 27, 24, 0.3);
    
  }
  
  .card {
    border: 4px solid var(--text);
    border-radius: calc(var(--unit) *2);
    background-color: var(--shade);
  }
  
  .vert .card {
    height: calc(100% - 12px);
  }
  
  .horz .card {
    width: calc(100% - 12px);
    height: calc(100% + 8px);
  }
  
  .flat .card {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    
  }
  
  .shade {
    background-color: var(--shade);
  }
  
  .content {
    background-color: var(--color);
    padding: calc(var(--unit) * 2);
    text-align: center;
  }
  .content p {
    max-width: 26ch;
    margin: 0 auto;
  }
  
  .overflow {
    overflow-y: scroll;
  }
  
  .center {
    display: grid;
    place-items: center;
  }
  
  .flex-fill {
    display: flex;
    flex-direction: column;
    grid-gap: calc(var(--unit) * 2);
  }
  
  .filler {
    flex-grow: 1;
    border-radius: var(--unit);
    background-color: var(--shade);
    display: grid;
    place-items: center;
  }
  
  .flush {
    border-radius: 0 0 20px 20px;
    margin: 0 -24px -24px;
  }
  
  .padding {
    padding: var(--unit);
  }
  
  .padding p {
    margin: 0;
    padding: calc(var(--unit) * 2);
    line-height: 0;
  }
  
  .arrow {
    background:var(--shade);
    padding: var(--unit);
    border: 4px solid var(--color); 
    border-radius: var(--unit);
    stroke: var(--color);
  }
  
  .hoverable:hover .arrow {
    border: 4px solid var(--text); 
    stroke: var(--text);
  }
  
  #today {
    container-name: today; font-size: 96px; color: var(--color); font-style: normal;
  }
  
  .hoverable:hover #today {
    color: var(--text);
    stroke: var(--text);
  }
  
  section div {
    margin: -4px;
  }
  
  header {
    display: flex;
    grid-gap: var(--unit);
  }
  
  header > div {
    width: var(--unit);
    height: var(--unit);
    margin: 0;
    background-color: var(--text);
    border-radius: 4px;
  }
  
  header.output {
    justify-content: flex-end;
  }
  
  .wave {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 57% 86%;
  }
  
  @keyframes wave-animation {
    0% { transform:   rotate(00.0deg) }
    14% { transform:  rotate(00.0deg) }
    20% { transform:  rotate(-16.0deg) }
    30% { transform:  rotate(14.0deg) }
    40% { transform:  rotate(-8.0deg) }
    50% { transform:  rotate(12.0deg) }
    60% { transform:  rotate(-8.0deg) }
    70% { transform:  rotate(00.0deg) }
    100% { transform: rotate(00.0deg) }
  }
}